.commentInput {
    width: 100%; 
    margin-top: 2rem;
  }
  
  .title {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem; 
    font-family: 'Lobster';
    font-weight: 100;
  }
  
  .text {
    font-size: 0.9rem;
    color: white;
    line-height: 1.6; 
    font-family: 'Open-sans';
  }
  

input {
   
  }
  
  .iconWrapper {
    background-color: grey; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
   
  }
  
  .input {
    flex: 1; 
    padding: 0.8rem; 
    border: none; 
    font-size: 1rem; 
    outline: none; 
  }
  
  .btn {
    padding: 0.8rem 1.5rem; 
    background-color: #5d799e; 
    color: white; 
    font-size: 1rem; 
    font-weight: bold;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .btn:hover {
    background-color: #4e6a8a; 
  }
  
  .input:focus {
    background-color: #f9f9f9; 
  }
  