.pageBtn{
    width:24px;
    height: 24px;
}
.pageBtn:nth-child(1){
    transform: rotate(180deg);
}
.imgIcon{
    width:24px;
    height: 24px;
 }

 .num{
    font-family: 'open-sans';
    font-size: 1.5rem;
    
 }